*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    background-color: #dae2e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*main continer*/

.continer
{ 
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100dvw;
    background-color: rgb(70, 70, 70);
    white-space: nowrap;
}

/*button style*/
.controler
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.btn
{
    display: flex;
    border: 0;
    outline: 0;
    padding: 3px 2px;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    background-color: rgb(98, 253, 137);
}

.btn:hover
{
    background-color: rgb(90, 230, 125);
}
.btn:hover svg
{
    fill: rgb(73, 73, 73);
    color:rgb(73, 73, 73);
}
.repeatactive
{
    background-color:rgb(98, 196, 253) ;
}

/*the progress bar */
.progressbar
{
    width:  100%;
    height: 10px;
    margin: 5px;
}
.progresscontroler
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-continer
{
    position: relative;
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 7px;
    border-radius: 100px;
}
.progress-line
{
    appearance: none;
    background-color: transparent;
    width: 100%;
    height: 7px;
    border-radius: 100px;
    color: white;
}
.durationaudio
{
    margin: 0px 10px;
    color: white;
}
/* volume range */

.volume-continer
{
    position: relative;
    margin: 5px;
    z-index: 100;
}
.volume-seprator
{

    display: none;
    flex-direction: row;
    align-items: center;
    background-color: rgb(70, 70, 70);
    transform: rotate(-90deg);
    position: absolute;
    width: 130px;
    padding: 10px;
    bottom: 87px;
    right: -50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
     
}

.vol-input-continer
{
    position: relative;
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 7px;
    border-radius: 100px;
    backdrop-filter: blur(20px);
}
.vol-input
{
    appearance: none;
    background-color: transparent;
    width: 100%;
    height: 7px;
    border-radius: 100px;
    color: white;
}
.vol-button
{
    background-color: rgb(52,52,52);
    outline: 0;
    border: 0;
    padding: 3px 5px;
    border-radius: 5px;
}
.vol-button:hover
{
    background-color: rgb(60,60,60);
}

.volume-continer:focus .volume-seprator
{
    display: flex;
}
/*music information*/
.info
{
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding: 5px;
}
.info .title
{
    white-space: nowrap;
    padding: 5px;
    color: white;
}
.info .image
{
    width: 64px;
    height: 64px;
    border-radius: 10px;
}

/*icons*/

ion-icon
{
    color: white;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
}
