*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    background-color: #dae2e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*main continer*/

.continer
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100dvw;
    background-color: rgb(70, 70, 70);
    white-space: nowrap;
}

/*button style*/
.controler
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.btn
{
    display: flex;
    border: 0;
    outline: 0;
    padding: 3px 2px;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    background-color: rgb(98, 253, 137);
}

.btn:hover
{
    background-color: rgb(90, 230, 125);
}
.btn:hover svg
{
    fill: rgb(73, 73, 73);
    color:rgb(73, 73, 73);
}
.repeatactive
{
    background-color:rgb(98, 196, 253) ;
}

/*the progress bar */
.progressbar
{
    width:  100%;
    height: 10px;
    margin: 5px;
}
.progresscontroler
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-continer
{
    position: relative;
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 7px;
    border-radius: 100px;
}
.progress-line
{
    appearance: none;
    background-color: transparent;
    width: 100%;
    height: 7px;
    border-radius: 100px;
    color: white;
}
.progress-buble
{
    position: absolute;
    padding: 7px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
}
.durationaudio
{
    margin: 0px 10px;
    color: white;
}
/*music information*/
.info
{
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding: 5px;
}
.info .title
{
    white-space: nowrap;
    padding: 5px;
    color: white;
}
.info .image
{
    width: 64px;
    height: 64px;
    border-radius: 10px;
}



/*setting list */
.setting-continer
{
    display: flex;
    position: relative;
}
.setting-button
{
    display: flex;
    height: 100%;
    border: 0;
    font-size: 18px;
    cursor: pointer;
    color: rgb(224, 224, 224);
    background:transparent;
}
.setting-button:hover
{
    background:rgb(49, 49, 49,0.02);
}
.list-content
{
    
    display: none;
    position: absolute;
    background-color: rgba(35, 46, 61);
    border-radius: 5px;
    z-index: 2;
}

.setting-continer .list-content .btn-p
{
    display: block;
    padding: 5px 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    z-index: 3;
    border: 0;
    outline:0;
    background-color: transparent;
    width: 100%;
    width: 50px;
}
.setting-continer .list-content ion-icon
{
    width: 25px;
    height: 25px;
}

.setting-continer .list-content ion-icon:hover
{
    fill: black;
}

.list-content-active
{
    display: block;
    bottom:200%;
    left: -50%;
}

.vol
{
    position: absolute;
    display: none;
}

.volume-btn:focus ~ .vol
{
    display: block;
}

/*icons*/

ion-icon
{
    color: white;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
}

.setting-icons
{
    width: 25px;
    height: 25px;
}

