:root
{
    --maincolor:#8FACC0;
    --maincolorhover:#7da2bb;
    --seccolor:#818D97;
    --seccolorhover:#6d7c88;
    --backcolor:#484D51;
    --mainfocus:#bad4e7;
    --mainfocushover:#a8c5da;
    --thumb:#5b98e9;
    --progressthumb:#447ac2;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    background-color: #dae2e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*main continer*/

.continer
{ 
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100dvw;
    background-color: var(--backcolor);
    white-space: nowrap;
}


/*button style*/
.controler
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.btn
{
    display: flex;
    border: 0;
    outline: 0;
    padding: 3px 2px;
    border-radius: 2px;
    font-size: 17px;
    background-color: var(--maincolor);
}
.btn:hover
{
    background-color: var(--maincolorhover);
}
.repeatactive
{
    background-color:var(--mainfocus);
}
.repeatactive:hover
{
    background-color:var(--mainfocushover);
}

/*the progress bar */
.progressbar
{
    width:  100%;

    margin: 5px;
}
.progresscontroler
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-continer
{
    position: relative;
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 7px;
    border-radius: 100px;
    z-index: 1;
}
.progress-line
{
    appearance: none;
    background-color: transparent;
    width: 100%;
    height: 7px;
    border-radius: 100px;
    color: white;
}
.durationaudio
{
    margin: 0px 10px;
    color: white;
}

.progressbackground
{
    position: absolute;
    z-index: -1;
    height: 7px;
    border-radius: 10px;
    background-color: var(--progressthumb);
}

/* volume range */

.volume-continer
{
    position: relative;
    margin: 5px;

}
.volume-seprator
{

    display: none;
    flex-direction: row;
    align-items: center;
    background-color: var(--backcolor);
    transform: rotate(-90deg);
    position: absolute;
    width: 130px;
    padding: 13px;
    bottom: 87px;
    right: -50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
     
}

.vol-input-continer
{
    position: relative;
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 7px;
    border-radius: 100px;
    backdrop-filter: blur(20px);
}
.vol-input
{
    appearance: none;
    background-color: transparent;
    width: 100%;
    height: 7px;
    border-radius: 100px;
    color: white;
}
.vol-button
{
    background-color: var(--seccolor);
    outline: 0;
    border: 0;
    padding: 3px 5px;
    border-radius: 5px;
}
.vol-button:hover
{
    background-color: var(--seccolorhover);
}
.vol-icon-inner
{
    font-size: 25px;
}

/*music information*/
.info
{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 5px;
}
.info .title
{
    color: white;
    font-size: 17px;
}
.info .author
{
    color: rgb(184, 184, 184);
    font-size: 15px;

}
.info .image
{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}
.textinfoholder
{
    white-space: nowrap;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items:left;
    margin: 0px 5px;
    margin-right:20px;
}

/*icons*/

ion-icon
{
    color: white;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
}
/*thumb slider*/

.slider::-webkit-slider-thumb
{
    appearance: none;
    background-color: var(--thumb);
    height: 15px;
    width: 15px;
    border-radius: 4px;
}

/* for firefox */
.slider::-moz-range-thumb
{
    appearance: none;
    background-color: var(--thumb);
    height: 15px;
    width: 15px;
    border-radius: 4px;
}
